<div class="header">
  <%= image_tag("49ers.png") %>
</div>

<h1 class="tagline">Who Is Going To Be Our New Coach (and GM)?!?</h1>
<div class="chip">
  <%= image_tag("chip.png") %>
</div>
<div class="music">
    <%= audio_tag "chip.mp3", controls: true, autoplay: false  %>
</div>
<h1 class="tagline">Chip Kelly Is FIRED!</h1>
<h1 class="tagline">What Will Happen Next?!?</h1>
<p class="tagline"> According to Twitter's last 100 Tweets on the subject...</p>
<div class="center"><%= link_to 'Jed York Watch', jed_index_path, :class => 'button'  %></div>

<div class="skyline">
  <%= image_tag("skyline.png") %>
</div>

<div class="content">
  <div class="list">
    <%= render 'shared/tweets' %>
  </div>
</div>

<p class="left"> Created by <a href="http://www.davidhallinan.com"> DAVID HALLINAN </a> </p>
<p class="right"> GO <a href="http://i.giphy.com/GjMUHtX3z0TkY.gif">NINERS!</a> </p>
